@font-face {
  font-family: 'space-mono-regular';
  src: url('../fonts/SpaceMono-Regular.ttf') format('ttf');
}

.space-mono-regular {
  font-family: "space-mono-regular", monospace;
  font-weight: 400;
  font-style: normal;
}